$icon-sizes: (
	"s": 1.125rem,
	"m": 1.5rem,
	"l": 2rem,
	"xl": 3rem
);

$icon-colors: (
  "light": $white,
  "negative": $red-700,
  "neutral": $blue-700,
  "positive": $green-700,
  "warning": $yellow-700
);

.icon {
  display: block;

  @each $key, $value in $icon-sizes {
    &--#{$key}.material-icons {
      font-size: $value;
    }
  }

  @each $key, $value in $icon-colors {
    &--#{$key} {
      color: $value;
    }
  }
}
