html,
body {
  background-color: $neutral-200;
  color: $neutral-800;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  font-size: 16px;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
