.system-user-form { 
  &__spinner {
    justify-content: flex-end;
  }

  .text-input {
    flex-basis: 100%;
    margin-right: 0;
    max-width: unset;

    @include at-breakpoint('s') {
      margin-right: $space-04;
    }

    &:last-child {
      @include at-breakpoint('s') {
        margin-right: 0;
      }
    }
  }
}
